**/.DS_Store
**/node_modules
**/dist/
**/CHANGELOG.md

/tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/packages/checkout/public/buttons/*.json

*.mo
*.po~
*.pot
/packages/checkout/src/i18n/po/**/*.json
/packages/checkout/src/i18n/po/**/*.js
/packages/checkout/src/i18n/process/*
!/packages/checkout/src/i18n/process/translate.js
/packages/checkout/src/config/countries-search.js
/packages/checkout/src/config/exclude-messages.js
/packages/checkout/src/config/svg.js
/packages/checkout/src/config/countries-calling-codes.js
/packages/checkout/src/config/presets-with-gradient.js
/packages/checkout/src/i18n/need-translation/*

