@mixin disabled() {
  &.disabled,
  &:disabled {
    color: $btn_disabled_color;

    &::before {
      box-shadow: none;
    }

    &::after {
      background: $btn_disabled_bg;
    }
  }
}

@mixin button-variant(
  $background,
  $border,
  $color,
  $shadow,
  $background-hover,
  $border-hover,
  $color-hover,
  $shadow-hover,
  $background-active,
  $border-active,
  $color-active,
  $shadow-active
) {
  color: $color;

  @if $shadow {
    &::before {
      box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow, 60%);
    }
  }

  &::after {
    background-color: $background;
    @if $border {
      border: 1px solid $border;
    }
  }

  &:hover,
  &:focus {
    color: $color-hover;

    @if $shadow-hover {
      &::before {
        box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow-hover, 60%);
      }
    }

    &::after {
      background-color: $background-hover;
      @if $border-hover {
        border: 1px solid $border-hover;
      }
    }
  }

  &:active {
    color: $color-active;

    @if $shadow-active {
      &::before {
        box-shadow: 0 px-to-rem(10px) px-to-rem(25px) fade($shadow-active, 60%);
      }
    }

    &::after {
      background-color: $background-active;
      @if $border-active {
        border: 1px solid $border-active;
      }
    }
  }

  @include disabled;
}
