@import 'core/index';
@import 'template/index';
@import 'style-adaptive-ss';
@import 'style-adaptive-sm';
@import 'core/utilities';

html {
  .flitt-modal {
    display: flex;
    flex-direction: column;
    max-width: none;
    height: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;

    @include media-breakpoint-up(md) {
      margin: px-to-rem(100px) auto;
      height: auto;
      max-width: px-to-rem(590px);
    }
  }

  .flitt-modal-header {
    border-radius: 0;
  }

  .flitt-modal-title {
    padding-right: px-to-rem(50px);
  }

  .flitt-modal-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .flitt-modal-content {
    overflow: auto;
    min-height: auto;
    border-radius: 0;
    flex-grow: 1;
  }

  .flitt-modal-iframe {
    height: 100%;
    min-height: px-to-rem(600px);
  }
}
