.f-tooltip-select {
  &.f-tooltip-auto {
    padding: px-to-rem(4px) 0;
  }

  .f-tooltip-arrow {
    display: none;
  }

  .f-tooltip-inner {
    display: block;
    padding: $border-radius 0;
  }
}

.f-tooltip-select-card {
  .f-tooltip-inner {
    display: block;
    width: px-to-rem(360px);
    max-width: px-to-rem(360px);
    padding: $border-radius 0;
  }
}
