.f-alert {
  position: relative;
  padding: px-to-rem(24px) px-to-rem(20px);
  margin-bottom: px-to-rem(16px);
  border-radius: $border-radius-lg;
}

@mixin alert-variant($background, $color) {
  color: $color;
  background-color: $background;

  button {
    --color: #{$color};
  }
}

.f-alert-info {
  @include alert-variant(fade($alert_info_bg, 90%), $alert_info_color);

  .f-theme-light & {
    #{$prefix}container_bg: #{rgba(#5a6470, 0.9)};
    #{$prefix}outline_bg: #5a6470;
    #{$prefix}outline_border: #a9b2bd;
  }

  .f-theme-dark & {
    #{$prefix}container_bg: $white;
    #{$prefix}outline_bg: #eef0f2;
    #{$prefix}outline_border: #9ca7b3;
  }
}

.f-alert-warning {
  @include alert-variant($alert_warning_bg, $warning);
}
