@use '@/scss/core/constants';

$ash_100: #f7f8f9; // 212 14 97
$ash_200: #f2f3f5; // 212 13 95
$ash_300: #eef0f2; // 212 13 94
$ash_400: #e5e8eb; // 212 13 91
$ash_500: #d5dae0; // 212 14 97
$ash_600: #c8ced5; // 212 13 81
$ash_700: #bac1ca; // 212 13 76
$ash_800: #a9b2bd; // 212 13 70
$grey_1: #9ca7b3; // 212 13 66
$grey_2: #818c99; // 212 11 55
$grey_3: #5a6470; // 212 11 40
$grey_4: #484f57; // 212 9  31
$grey_9: #313539; // 212 8  21
$white_005: #3b3f43;
$white_007: #3f4347;
$white_01: #46494d;
$white_015: #505357;
$white_02: #5a5d61;
$white_03: #6f7274;
$white_04: #838688;
$white_05: #989a9c;
$white_06: #adaeb0;
$white_08: #d6d7d7;
$black: #000;
$grey: #3d3d3d;
$error: #de4761;
$warning: #f5970a;
$white: var(#{constants.$prefix}white);

// theme
$container_bg: var(#{constants.$prefix}container_bg);
$outline_border: var(#{constants.$prefix}outline_border);
$outline_bg: var(#{constants.$prefix}outline_bg);
