@import 'core/index';
@import 'template/index';
@import 'style-adaptive-ss';
@import 'style-adaptive-sm';
@import 'core/utilities';

html {
  .flitt-modal {
    width: 100%;
    max-width: 590px;
  }

  .flitt-modal-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .flitt-modal-content {
    min-height: 600px;
  }

  .flitt-modal-iframe {
    height: 600px;
  }
}
